body {
  margin: 0;
  padding: 0;
  font-family: system-ui, 'PingFang SC', 'Arial', sans-serif;
  background-image: radial-gradient(50% 100% at center bottom, rgb(57, 76, 86), rgb(14, 17, 17));
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  font-size: 20px;
}

#modal {
  z-index: 999999;
}

.main-container {
  width: 95%;
  max-width: 1200px;
  text-align: center;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 7%;
  left: 0;
  right: 0;
  height: 7%;
}

.team-label {
  font-size: 20px;
  padding: 10px 20px;
  flex: 1;
  color: white;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-label.pro {
  background-color: rgb(179, 37, 37);
}

.team-label.con {
  background-color: rgb(3, 105, 161);
}

#proSide::before {
    content: '正方';
    position: absolute;
    left: .5em;
    font-size: 1.6em;
    padding: .02em .08em;
}

#conSide::before {
    content: '反方';
    position: absolute;
    right: .5em;
    font-size: 1.6em;
    border: .05em solid white;
}

.debate-title {
  color: rgb(3, 105, 161);
  flex-grow: 1;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
}

.section-name {
  font-size: 2em;
  margin: 20px 0;
}

.timers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  margin: 20px 0;
  flex-wrap: wrap;
}

.timer-box {
  text-align: center;
}

.time-text {
  font-size: 5em;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
  font-family: 'Courier New', Courier, monospace, monaco, 'Source Code Pro', ‌'DejaVu Sans Mono';
}

.timer-box.double .label {
  margin-top: .4em;
  font-size: 1.6em;
}

div#proTimer * {
  color: rgb(179, 37, 37)!important;
}

div#conTimer * {
  color: rgb(3, 105, 161)!important;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;
}

.controls button {
  background-color: #222;
  color: white;
  border: 1px solid #666;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.controls button:hover {
  background-color: #333;
}